/*
	GLOBAL
	All of the specific comments can be found here: https://gitlab.com/accensi/hdportal/-/blob/master/public/css/styles.css
*/

*
{
	scrollbar-color: #d43552 #34141a;
}

body
{
	background-color: #2d2a2b;
}

hr
{
	border-color: rgba(219, 138, 168, 0.2);
}

footer
{
	color: #d43552;
}

section
{
	color: #c3a2a8;
}

p a, .content .about a
{
	color: #d43552;
}

p a:hover, .content .about a:hover
{
	color: #d43552;
	background-color: #604d52;
	border-bottom: 1px solid #d2c1c6;
}

p a:active, .content .about a:active
{
	color: #d43552;
	background-color: #886d74;
}

h1
{
	color: #d43552;
}

h2
{
	color: #d43552;
}

h3
{
	color: #d43552;
}

h5
{
	color: #c3a2a8;
}

table th
{
	color: #b34d5f;
}

/*
	NAVIGATION
	[Ace] Currently unused. Commented out because colors haven't been fixed.
*/

/*header
{
	background-color: #474e3b;
}

header ul li a, header ul .dropdown
{
	color: #d43552;
}

header ul li a:hover
{
	color: #c2d3c4;
	background-color: #65775f;
	border-bottom: 2px solid #c2d3c4;
}

header ul li a:active
{
	color: #c2d3c4;
	background-color: #94a989;
}

header ul .dropdown:hover
{
	background-color: #65775f;
} 
header ul .dropdown:hover .dropdown-content, header ul .dropdown-link:hover .dropdown-content
{
	background-color: #3a4030;
}

header ul .dropdown-content a:hover
{
	border-left: 2px solid #c2d3c4;
}*/

/*
	SIDEBAR
*/

.sidebar
{
	max-width: 9%;
	background-color: #34141a;
}

.sidebar h3
{
	background-image: linear-gradient(#4e3b3f 85%, #00000000);
	color: #d43552;
}

.sidebar h4
{
	color: #d43552;
}

.sidebar a
{
	color: #c3a2a8;
}

.sidebar a:hover
{
	color: #c3a2a8;
	background-color: #604d52;
	border-left: 2px solid #d43552;
}

.sidebar a:active
{
	color: #c3a2a8;
	background-color: #886d74;
}

/*
	SCROLLBAR FOR CHROMIUM
*/

::-webkit-scrollbar-track
{
	background: #34141a;
}

::-webkit-scrollbar-thumb
{
	background-color: #d43552;
}

/*
	LANDING PAGE
*/

.titlepic
{
	margin: 20px 0px;
}

.titlepic img
{
	max-height: 140px;
}

#home-intro
{
	width: 80%;
}

#home-intro h2, #home-intro #about p
{
	text-align: center;
}

#home-intro #about p
{
	margin: 5px;
}

#home-intro #about h2 img
{
	max-height: 40px;
	vertical-align: middle;
}

/*
	CONTENT STUFF
*/

.content
{
	padding-top: 20px;
}

.content .block
{
	background-color: #252324;
}

.content .info-table
{
	border: 2px solid #544048;
	background-color: #242523;
}

.content .data-table td, .content .data-table th
{
	border: 2px solid #544048;
}

.content .loadout-table
{
	background-color: #322a2d;
}

.content .loadout-table .configuration
{
	background-color: #292426
}

.content .loadout-table .wpvalue, .content .loadout-table .itvalue
{
	background-color: #181617;
}

.content section .code
{
	background-color: #181617;
}